<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>VIMSAI | DASHBOARD</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center text-danger">VIMSAI INFOTECH</h1>
        <p>Hello {{name}}</p>
    </div>
</body>
</html>